broker = {
	"hostname": "mqtt.tiefpunkt.com",
	"port": 1883,
	"user": "xxxx",
	"password": "xxxx"
}

topic = "mumalab/mccafe/1/buttonpress"

buttons = {
	"A": [ "0x2f", "0x27", "0x1f", "0x17", "0x13", "0xf"],
	"B": [ "0x2e", "0x1e", "0xe", "0xb", "0x7", "0x3"],
	"C": [ "0x2c", "0x24", "0x1c", "0x5", "0x4", "0x3"]
}
